body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 600px;
}

h1 {
  font-family: "Indie Flower", cursive;
}

.toolbar img {
  width:2em;
}

/* debugging */
.ou {
  outline: 1px solid red;
}